/* Estilos para las tarjetas */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
  min-height: 300px;
  margin-left: 1%;
}

.card {
  background-color: #f0f1f5da;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: start;
  font-family: sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Añadido para animación suave */
}

.card:hover {
  transform: scale(1.05); /* Aumenta el tamaño de la tarjeta al pasar el cursor */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
  background-color: #ffffff;
}

.card-logo {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.8em;
  margin: 0.5em 0;
}

p {
  color: #666;
  font-size: 1em;
}


/*Barra Busqueda*/
:host .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

:host .search-input {
  width: 100%;
  max-width: 400px;
  height: 35px;
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 0 15px;
  font-size: 1em;
  outline: none;
  background-color: #f5f5f5;
  color: #666;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

:host .search-input::placeholder {
  color: #999;
}

:host .search-button {
  width: 40px;
  height: 35px;
  background-color: #b6861b;
  border: none;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

:host .search-button img {
  width: 25px;
  height: 25px;
}

:host .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
  min-height: 300px;
}

/*Paginacion*/
.pagination {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-left: 3%;
  margin-top: 2%;
}

.buttons-pagination{
  width: auto;
}
.pagination button {
  background-color: #ffffff00;
  border: 1px solid #ccc;
  color: #fff;
  padding: 5px 10px;
  margin-right: 7px;
  cursor: pointer;
  border-radius: 3px;
}

.pagination button.active {
  background-color: #BC891B;
  color: #fff;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.resultados{
  width: auto;
}
.results-info {
  font-size: 1em;
  color: #ffffff;
  margin-right: 20px;
  margin-left: 500px;
}

@media (max-width: 768px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; 
  }
}


@media (max-width: 480px) {
  .search-container {
    width: 55%;
    margin-left: 28%;
  }

  .cards-container {
    width: 90%;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 10px !important;
  }

  .card {
    height: 170px;
    width: 100%; 
    box-sizing: border-box;
  }
  
  .card h3{
    font-size: 1em;
  }
  .card p{
    font-size: 0.6em;
  }

  .card-logo {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
  }

  .pagination {
    width: 95%;
    justify-content: center;
  }
}
