* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Contendor principal*/
.container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow-y: hidden;
}
/*Contenedor de imagen*/
.img-container {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 50%;
}
/*Contenedor de datos*/
.login-container {
    z-index: 1;
    width: 50%;
    padding: 40px;
    color: #fff;
    text-align: center;
}
/*Imagen*/
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Cortina de imagen*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 3, 98, 0.338);
    z-index: 1;
}
/*Estilos textos*/
.login-container h1 {
    font-size: 3em;
    margin-bottom: 10px;
    margin-top: 8%;
}
.login-container p {
    font-size: 1em;
    margin-bottom: 30px;
    color: rgb(186, 185, 185);
}

/*Contendor para inputs*/
.input-container {
    position: relative;
    width: 70%;
    margin: 0% 15%;
}

/*Estilos para inputs*/
.input-container input {
    width: 95%;
    padding: 15px 20px 15px 50px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #1a4da3;
    color: #fff;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
}
input::placeholder {
    color: #a4a5a8;
}

/*Estilos de iconos*/
.input-container i {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: #a4a5a8;
    font-size: 1.2em;
}
/*Estilos para iconos eye*/
.input-container i.fa-eye,
.input-container i.fa-eye-slash {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translateY(-50%);
    color: #a4a5a8;
    cursor: pointer;
    font-size: 1.2em;
}

.container-options {
    width: 65%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 20px;
    margin-left: 17%;
    font-size: 0.9em;
}

.container-options label {
    color: #b0c4de;
}

.forgot-password {
    color: #d69f00;
    text-decoration: none;
    font-size: 0.9em;
}

.forgot-password:hover {
    text-decoration: underline;
}

.submit-button {
    width: 65%;
    padding: 20px;
    margin: 25px;
    background-color: #b58800;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.submit-button:hover{
    background-color: #c19100;
}
.create-account {
    margin-top: 10px;
    font-size: 0.9em;
    color: #b0c4de;
}

.create-account-link {
    color: #d69f00;
    text-decoration: none;
}

.create-account-link:hover {
    text-decoration: underline;
}

.login-container img {
    margin-top: 20px;
    width: 150px;
    height: auto;
}


/* Estilos para pantallas más pequeñas */
@media (max-width: 1024px) {
    .container {
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .img-container {
        width: 100%;
        height: 35vh;
    }

    .login-container {
        width: 100%;
        padding: 0px;
    }

    .input-container i{
        left: 5%;
    }

    .container-options {
        width: 60%;
        margin-left: 20%;
    }
    
    .submit-button {
        width: 62%;
    }
}

/* Estilos para pantallas de tablets */
@media (max-width: 768px) {
    .container{
        width: 100%;
    }
    .login-container h1 {
        font-size: 2.5em;
    }
    
    .login-container p {
        font-size: 0.9em;
    }

    .input-container {
        width: 80%;
        margin: 0 10%;
    }
    .input-container i{
        left: 5%;
    }

    .container-options {
        width: 70%;
        margin: 20px auto;
    }

    .submit-button {
        width: 70%;
        padding: 15px;
    }
}

/* Estilos para pantallas de móviles */
@media (max-width: 480px) {
    .login-container h1 {
        font-size: 1.5em;
    }
    
    .login-container p {
        font-size: 0.65em;
        margin-bottom: 6%;
    }

    .input-container {
        width: 90%;
        margin: 0 5%;
        height: 55px;
        font-size: 0.75em;
    }
    .input-container i{
        left: 8%;
        margin-top: 11px;
    }

    .container-options {
        width: 80%;
        margin: 15px auto;
        margin-bottom: 0px;
        font-size: 0.6em;
    }

    .submit-button {
        width: 83%;
        padding: 15px;
        font-size: 0.7em;
    }

    .create-account {
        font-size: 0.65em;
    }

    .login-container img {
        width: 110px;
        margin-top: 15px;
    }
}