<div class="container">
    <div class="img-container">
        <img src="assets/INICIO.jpeg">
        <div class="overlay"></div>
    </div>
    <div class="login-container">
        <h1>Bienvenido/a</h1>
        <p>Inicia sesión para continuar</p>
        <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            <input class="input-email" type="email" placeholder="Correo electrónico" [(ngModel)]="email" />
        </div>
        <div class="input-container">
            <i class="fas fa-key"></i>
            <input class="input-password"
                [type]="verPassword ? 'text' : 'password'"
                placeholder="Contraseña"
                [(ngModel)]="pass" />
            <i class="fas" [ngClass]="verPassword ? 'fa-eye' : 'fa-eye-slash'" 
                (click)="showPassword()"></i>
        </div>
        <div class="container-options">
            <a href="/recuperar-password" class="forgot-password">¿Olvidaste tu contraseña?</a>
        </div>
        <button class="submit-button" (click)="login()">Acceder</button>
        <div class="create-account">
            <label>¿No tienes cuenta? </label>
            <a href="/register" class="create-account-link">Crear cuenta</a>
        </div>
        <img src="assets/LOGO AJAW BLANCO.png" alt="">
    </div>
</div>
 