.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    z-index: 1;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    width: 33%;
    font-family: sans-serif;
}
.modal-container p {
    color: #747474;
    margin-bottom: 40px;
}
.modal-buttons {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.logout-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.cancel-button{
    background-color: rgba(255, 255, 255, 0.003);
    border: 1px solid #5a5a5ab6;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 2%;
}
.logout-button:hover {
    background-color: #c9302c;
    transform: scale(1.05);
}
.cancel-button:hover {
    background-color: #f0f0f0;
    border: 1px solid #333333;
    transform: scale(1.05);
    color: #333333;
}

@media (max-width: 480px){
    .modal-container{
        width: 80%;
    }
}