/*Contendor principal*/
.container {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow-y: hidden;
}
/*Contenedor de imagen*/
.img-container {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 50%;
}
/*Contenedor de datos*/
.login-container {
    z-index: 1;
    width: 50%;
    padding: 40px;
    color: #fff;
    text-align: center;
}
/*Imagen*/
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Cortina de imagen*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 3, 98, 0.338);
    z-index: 1;
}
/*Estilos textos*/
.login-container h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
.login-container p {
    font-size: 1em;
    margin-bottom: 30px;
    color: rgb(186, 185, 185);
}

/*Contendor para inputs*/
.input-container {
    position: relative;
    width: 65%;
    margin: 0% 17%;
}

/*Estilos para inputs*/
.input-container input {
    width: 85%;
    padding: 15px 20px 15px 50px;
    margin: 7px 0;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #1a4da3;
    color: #fff;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
}
input::placeholder {
    color: #a4a5a8;
}

/*Estilos de iconos*/
.input-container i {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    color: #a4a5a8;
    font-size: 1.2em;
}
/*Estilos para iconos eye*/
.input-container i.fa-eye,
.input-container i.fa-eye-slash {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translateY(-50%);
    color: #a4a5a8;
    cursor: pointer;
    font-size: 1.2em;
}

.text-help{
    display: flex;
    justify-content: flex-start;
    margin: 0% 15% 0%;
    font-size: 0.7em;
    color: rgb(186, 185, 185);
}


.submit-button {
    width: 65%;
    padding: 20px;
    margin: 25px;
    background-color: #b58800;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.submit-button:hover{
    background-color: #c19100;
}

.create-account {
    margin-top: 10px;
    font-size: 0.9em;
    color: #b0c4de;
}

.create-account-link {
    color: #d69f00;
    text-decoration: none;
}

.create-account-link:hover {
    text-decoration: underline;
}

.login-container img {
    margin-top: 20px;
    width: 150px;
    height: auto;
}


/* Estilos para pantallas más pequeñas */
@media (max-width: 1024px) {
    .container {
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    /* Ajustes del contenedor de la imagen */
    .img-container {
        width: 100%;
        height: 45vh;
    }

    /* Ajustes del contenedor de login */
    .login-container {
        width: 100%;
        padding: 0px;
    }

    .input-container i{
        left: 8%;
    }

    .container-options {
        width: 60%;
        margin-left: 20%;
    }
    
    .submit-button {
        width: 62%;
    }
}

/* Estilos para pantallas de tablets */
@media (max-width: 768px) {
    .container{
        width: 130%;
    }
    .login-container h1 {
        font-size: 2.5em;
    }
    
    .login-container p {
        font-size: 0.9em;
    }

    .input-container {
        width: 80%;
        margin: 0 10%;
    }
    .input-container i{
        left: 8%;
    }

    .container-options {
        width: 70%;
        margin: 20px auto;
    }

    .submit-button {
        width: 70%;
        padding: 15px;
    }
}

/* Estilos para pantallas de móviles */
@media (max-width: 480px) {
    .login-container h1 {
        margin-top: 10%;
        font-size: 2em;
    }
    
    .login-container p {
        font-size: 0.85em;
    }

    /* Ajustes del contenedor de login y los inputs */
    .input-container {
        width: 86%;
        margin: 0 7%;
    }
    .input-container i{
        left: 5%;
    }

    .submit-button {
        width: 85%;
        padding: 15px;
    }

    .create-account {
        font-size: 0.85em;
    }

    .login-container img {
        width: 120px;
        margin-top: 15px;
    }
}