/* Contenedor general */
.container {
    padding: 20px;
    color: white;
}

.content-options {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-bottom: 50px;
}

.content-jobs{
    width: 100%;
}

.content-options label {
    font-size: 1.8em;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 20px;
}

/* Estilo base para el select */
select#mes {
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    margin-left: 30px;
    background-color: #BC891B;
    font-size: 15px;
    color: white;
    width: 11%;
    text-align: center;
}

select#mes option {
    background-color: #cfcfcf; 
    color: black; 
}



/* Estilos de la tarjeta */
.trabajo-detalles {
    width: 27%;
    height: 520px;
    background-color: rgba(255, 255, 255, 0.889);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    margin-left: 2%;
    display: inline-block;
    vertical-align: top;
    font-family: sans-serif;

}

.detalles-titulo{
    color: black;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.detalles-titulo h2{
    font-family: sans-serif;
}
.detalles-titulo span{
    font-size: 0.7em;
    font-style: italic;
}


/* Input de detalles */
.trabajo-detalles label {
    font-size: 0.8em;
    font-weight: bold;
    color: #353535;
}

.trabajo-detalles input[type="text"] {
    width: 95%;
    padding: 5px;
    margin-bottom: 12px;
    border: none;
    border-radius: 4px;
    color: #929292;
}

.trabajo-detalles textarea {
    width: 95%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #929292;
    resize: none;
}



.pagination {
    display: flex;
    justify-content: left;
    gap: 8px;
    margin-left: 2%;
    margin-top: 2%;
}

.pagination button {
    background-color: #ffffff00;
    border: 1px solid #ccc;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.pagination button.active {
    background-color: #BC891B;
    color: #fff;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
@media (max-width: 1024px) {
    .container {
      padding: 15px;
    }
  
    .content-options {
      flex-direction: row;
      height: auto;
      margin-bottom: 30px;
      align-items: center;
    }
  
    select#mes {
      width: 15%;
      margin-left: 5%;
      text-align: center;
    }
  
    /* Tarjetas */
    .trabajo-detalles {
      width: 41%; 
      height: 530px;
      margin: 2% 2%;
    }
  
    .detalles-titulo span {
      font-size: 0.8em; 
    }
  
    .pagination {
      justify-content: center; 
    }
  }
  
  @media (max-width: 780px) {
    .container {
      padding: 10px;
    }
  
    select#mes {
      width: 60%;
      font-size: 14px;
    }
  
    .trabajo-detalles {
      width: 90%;
      margin: 15px auto;
      padding: 15px;
    }
  
    .detalles-titulo h2 {
      font-size: 1.5em;
    }
  
    .pagination button {
      padding: 5px 8px; 
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 5px;
    }
  
    .content-options {
      font-size: 0.5em;
      align-items: flex-start; 
    }
  
    select#mes {
      width: 30%; 
      font-size: 12px;
    }
  
    .trabajo-detalles {
      width: 85%;
      padding: 10px;
      margin-left: 5%;
    }
  
    .trabajo-detalles input[type="text"], 
    .trabajo-detalles textarea {
      width: 95%;
      font-size: 14px;
    }
  
    .pagination {
      flex-wrap: wrap;
      gap: 5px;
    }
  
    .pagination button {
      font-size: 12px;
    }
  }
  
