<nav class="sidebar">
    <div class="user-info" *ngIf="!isAdmin">
      <span>Bienvenido a tu panel,</span>
      <h1>{{ clientName || 'Nombre no disponible' }}</h1>
      <span>Código de cliente <strong>{{ clientCode || 'Código no disponible' }}</strong></span>
    </div>
  
    <div class="user-info" *ngIf="isAdmin">
      <span>Bienvenido a tu panel,</span>
      <h1>Jonathan García</h1>
      <span>Código de administrador <strong>982647035</strong></span>
    </div>
  
    <div class="nav-buttons">
      <!-- Para el Admin -->
      <button *ngIf="isAdmin" (click)="showGenerales()">
        <i class="fas fa-chart-bar"></i>
        General
      </button>
  
  
      <!-- Para el Admin: Botón de Clientes -->
      <button *ngIf="isAdmin" (click)="showClientes()">
        <i class="fas fa-users"></i>
        Clientes
      </button>
  
      <!-- Para el Cliente: Botón de Gráficas -->
      <button *ngIf="!isAdmin" (click)="showGraficas()">
        <i class="fas fa-chart-line"></i>
        Gráficas
      </button>
  
      <!-- Para el Cliente: Botón de Detalles -->
      <button *ngIf="!isAdmin" (click)="showDetalles()">
        <i class="fas fa-info-circle"></i>
        Detalles
      </button>
    </div>
  
    <div class="linea-borde"></div>
  
    <div class="settings">
      <button class="mode-toggle">
        <i class="fas fa-sun"></i>
        Modo claro
      </button>
      <button class="logout" (click)="openLogoutConfirm()">
        <i class="fas fa-sign-out-alt"></i>
        Cerrar sesión
      </button>
    </div>
  
    <footer>
      <img src="assets/LOGO AJAW BLANCO.png" alt="AJAW Logo" />
      <p>AJAW 2024©, todos los derechos reservados.</p>
    </footer>
  </nav>
  
  <app-cerrar-sesion *ngIf="showLogoutConfirm"
    (confirm)="confirmLogout()"
    (cancelAction)="cancelLogout()">
  </app-cerrar-sesion>
  