/* Estilos para pantallas grandes */
.sidebar {
    width: 250px;
    height: 92vh;
    background-color: #0a1e4d62;
    color: white;
    margin: 10% 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

.sidebar.open {
    transform: translateX(0);
    width: 45%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.user-info {
    margin: 20px;
    font-family: sans-serif;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20%;
}

.user-info h3 {
    font-size: 12px;
    margin: 1%;
}

.user-info h1 {
    margin: 2%;
    font-size: 20px;
    font-weight: bold;
}

.user-info span {
    font-size: 11px;
    color: #ccc;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
}

.nav-buttons button {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10%;
    font-size: 17px;
    color: #fff;
    background-color: #1a3c78;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-buttons button i {
    margin-right: 10px;
}

.nav-buttons button:hover {
    background-color: #fff;
    color: #1a3c78;
}

.linea-borde {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.settings {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
}

.logout {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10%;
    font-size: 14px;
    color: #ec2626;
    background-color: #1a3c78;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.settings button i {
    margin-right: 10px;
}

.logout:hover {
    background-color: #de1212;
    color: #ffffff;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer img {
    width: 100px;
}

footer p {
    font-size: 10px;
    color: #ccc;
}


.small-screen-image img {
    width: 23%;
    padding: 2%;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 1024px) {

    .small-screen-image img {
        width: 40%;
        padding: 4%;
    }
    .sidebar {
        display: none;
    }

    /* Contenedor de botones flotantes */
    .small-screen-buttons {
        position: fixed;
        bottom: 15px;
        right: 15px;
        display: flex;
        flex-direction: column;  /* 🔹 Alineación vertical */
        gap: 12px;

        z-index: 1000;
    }

    .small-screen-buttons button {
        background: #BC891B;
        color: white;
        border: none;
        padding: 12px;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: background 0.3s ease;
    }

    .small-screen-buttons button:hover {
        background: #8f6712;
    }

    .small-screen-buttons i {
        font-size: 20px;
    }
}

/* Ajustes para pantallas aún más pequeñas */
@media (max-width: 480px) {
    .small-screen-buttons button {
        padding: 10px;
        font-size: 18px;
    }
    .small-screen-image img {
        width: 20%;
        padding: 5%;
    }
}
