<nav class="sidebar">
    <div class="user-info">
        <span>Bienvenido a tu panel,</span>
        <h1>Jonathan García</h1>
        <span>Código de administrador <strong>982647035</strong></span>
    </div>

    <div class="nav-buttons">
        <button>
            <i class="fas fa-chart-bar"></i>
            General
        </button>
        
        <button>
            <i class="fas fa-users"></i> 
            Clientes
        </button>
        
    </div>
    <div class="linea-borde"></div>
    <div class="settings">
        <button class="mode-toggle">
            <i class="fas fa-sun"></i>
            Modo claro
        </button>
        <button class="logout" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            Cerrar sesión
        </button>
    </div>

    <footer>
        <img src="assets/LOGO AJAW BLANCO.png" alt="AJAW Logo" />
        <p>AJAW 2024©, todos los derechos reservados.</p>
    </footer>
</nav>