.loading-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 20px;
}

.spinner {
  margin-top: 5%;
  z-index: 2;
  border: 22px solid #ffffff90;
  border-top: 22px solid #e1e1e1;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-container h2{
  z-index: 2;
  color: #ffffff;
  font-size: 27px;
}
.loading-container p {
  margin-top: 0%;
  font-size: 15px;
  color: #ffffff;
}

.loading-container img {
  width: 200px;
  margin-top: 20px;
}



.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.content-container {
  margin: 1% 3%;
  z-index: 2;
  flex-grow: 1;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.stats-container2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.chart-container {
  width: 45%;
  height: 245px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  color: #ffffff;
}

h2 {
  font-size: 18px;
  color: #333;
}
