/*Estilos Pantalla de carga*/
.loading-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 20px;
  overflow-y: hidden;
}

.spinner {
  margin-top: 5%;
  z-index: 1;
  border: 22px solid #ffffff90;
  border-top: 22px solid #e1e1e1;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-container h2{
  z-index: 1;
  color: #ffffff;
  font-size: 27px;
}
.loading-container p {
  margin-top: 0%;
  font-size: 15px;
  color: #ffffff;
  z-index: 1;
}

.loading-container img {
  position: relative;
  width: 200px;
  margin-top: 20px;
  z-index: 1;
}
/*******************************/
.main-container {
  display: flex;
  flex-direction: column;
}
/********************************/
/*Estilos Graficas*/
.content-container {
  width: auto;
  margin-left: 18%;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1 {
  font-size: 1.8em;
  font-family: sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin-left: 3%;
}

h2 {
  font-size: 18px;
  color: #333;
}

/*Estilos Detalles de trabajos*/
.content-details{
  width: auto;
  margin-left: 18%;
}

.nombre-cliente{
  color: #ffffff;
  font-family: sans-serif;
  font-size: 3em;
  height: 50px;
  margin-bottom: 5px;
}
.id-cliente{
  color: #ffffffa0;
  font-family: sans-serif;
  font-size: 1em;
  margin-left: 3%;
}

.linea-borde {
  width: 80%;
  margin: 20px auto;
  border-bottom: 1px solid #ccc;
}



@media (max-width: 1024px) {
  .spinner{
    margin-top: 20%;
  }
  .content-container{
    margin-left: 0%;
  }
  .content-container h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0%;
  }
  .content-container span{
    font-size: 0.7em;
    color: #ccc;
  }
  .name{
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .title-estadisticas{
    margin-top: 5%;
  }
  .nombre-cliente{
    margin-bottom: 2%;
    height: 30px;
    display: flex;
    justify-content: center;
  }

  .content-details{
    margin-left: 0%;
  }
  .id-cliente{
    display: flex;
    justify-content: center;
    margin-left: 1px;
  }
  
  
}
@media (max-width: 768px) {
  .spinner{
    margin-top: 30%;
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 480px) {
  .spinner{
    margin-top: 40%;
    width: 150px;
    height: 150px;
  }
  .loading-container h2{
    font-size: 23px;
  }

  .content-container h1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-estadisticas{
    font-size: 0.7em;
  }

  .content-container span{
    font-size: 0.4em;
    color: #ccc;
  }
  .name{
    font-size: 1em;
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .nombre-cliente{
    font-size: 1em;
    
  }
  .title-estadisticas{
    font-size: 1em;
    margin-top: 5%;
  }
}