<div class="container">
    <div class="img-container">
        <img src="assets/INICIO.jpeg">
        <div class="overlay"></div>
    </div>
    <div class="login-container">
        <h1>Restablecer Contraseña</h1>
        <p>Introduce tu nueva contraseña para continuar</p>
        <div class="input-container">
            <i class="fas fa-key"></i>
            <input class="input-password"
                [type]="showPassword ? 'text' : 'password'"
                placeholder="Nueva Contraseña"
                [(ngModel)]="newPassword" />
            <i class="fas" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" 
                (click)="togglePasswordVisibility()"></i>
        </div>
        <div class="input-container">
            <i class="fas fa-key"></i>
            <input class="input-password"
                [type]="showPassword ? 'text' : 'password'"
                placeholder="Confirmar Contraseña"
                [(ngModel)]="confirmPassword" />
            <i class="fas" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" 
                (click)="togglePasswordVisibility()"></i>
        </div>
        <button class="submit-button" (click)="resetPassword()">Enviar</button>
        <div class="create-account">
            <label>Regresar </label>
            <a href="/login" class="create-account-link"> Iniciar sesión</a>
        </div>
        <img src="assets/LOGO AJAW BLANCO.png" alt="">
    </div>
</div>
